.pos1 {
    width: 10em;
    height: 10em;
    background-color: #000000;
    color: #FFFFFF;
    position: absolute;
    top: 30px;
    right: 30px;
}

.pos2 {
    width: 10em;
    height: 10em;
    background-color: #ff0000;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.cont {
    width: 200px;
    height: 1000px;
}

.pos4 {
    position: sticky;
    width: 100px;
    height: 100px;
    background-color: #009dff;
    top: 50px;
}